@model VFT.OCT.Models.Oct

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Oct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferredDrName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferredDrName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReFfacility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReFfacility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Onh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Onh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Macula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Macula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pachymetry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pachymetry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ScanId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
